<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/index_style.css">
</head>
<body>
  <h1>Teatea</h1>
  <p>tilte:</p>
  <form class="example" action = "http://127.0.0.1:5000/result" method = "POST" style="margin:auto;max-width:600px">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <p>authour:</p>
  <form class="example" action = "http://127.0.0.1:5000/author_result" method = "POST" style="margin:auto;max-width:600px">
  <input type="text" placeholder="Search.." name="author_search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <p>content:</p>
  <form class="example" action = "http://127.0.0.1:5000/content_result" method = "POST" style="margin:auto;max-width:600px">
  <input type="text" placeholder="Search.." name="content_search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>



</body>
</html>
